<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>lat</key>
		<string>39.73207700000000000</string>
		<key>lng</key>
		<string>116.34860600000000000</string>
		<key>name</key>
		<string>大兴区</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>40.13568400000000000</string>
		<key>lng</key>
		<string>116.66121500000000000</string>
		<key>name</key>
		<string>顺义区</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>39.95790600000000000</string>
		<key>lng</key>
		<string>116.53146800000000000</string>
		<key>name</key>
		<string>朝阳区</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>39.91501800000000000</string>
		<key>lng</key>
		<string>116.66286700000000000</string>
		<key>name</key>
		<string>通州区</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>40.00966900000000000</string>
		<key>lng</key>
		<string>116.28248000000000000</string>
		<key>name</key>
		<string>海淀区</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>39.92362200000000000</string>
		<key>lng</key>
		<string>116.41934400000000000</string>
		<key>name</key>
		<string>东城区</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>40.22525400000000000</string>
		<key>lng</key>
		<string>116.23789100000000000</string>
		<key>name</key>
		<string>昌平区</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>39.91229800000000000</string>
		<key>lng</key>
		<string>116.36463200000000000</string>
		<key>name</key>
		<string>西城区</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>39.84195800000000000</string>
		<key>lng</key>
		<string>116.27251700000000000</string>
		<key>name</key>
		<string>丰台区</string>
	</dict>
</array>
</plist>
